@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
.hidden {
  display: none; }

* {
  box-sizing: border-box;
  font-family: 'Architects Daughter', cursive; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

* {
  user-select: none; }

a {
  text-decoration: none; }
  a:visited, a:link {
    color: inherit; }

.en, .pl {
  display: none; }

article a:link, article a:visited, .articleWrapper .link a:link, .articleWrapper .link a:visited {
  color: blue; }

ul {
  padding: 0px;
  margin: 0px; }
  ul li {
    list-style: none; }

nav {
  font-size: 1.35em; }
  nav li {
    height: auto; }
    nav li p {
      cursor: pointer; }
  nav li li {
    padding-left: 10px;
    font-size: 0.9em; }

#sidebar li > p, #startNavigation li > p {
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  height: 38px;
  transition: font-size 0.2s; }
  #sidebar li > p:hover, #startNavigation li > p:hover {
    font-size: 1.2em; }

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden; }
  body > * {
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 100%; }

#header {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, grey 2px);
  padding: 0px 30px;
  width: 85%;
  min-height: 55px;
  height: 10%;
  order: 1; }
  #header header {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; }
    #header header h1 {
      font-size: 2em;
      margin: 0px; }
      #header header h1 span {
        font-size: 0.6em; }

#main {
  position: relative;
  width: 85%;
  height: auto;
  flex: 1 1 auto;
  order: 3;
  overflow: hidden; }
  #main main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start; }
    #main main > .articleWrapper {
      overflow: hidden;
      flex: 0 0 auto;
      height: 95%;
      width: 100%;
      transform: translate(0px, 0px); }

#arrows {
  z-index: 2;
  top: 50%;
  left: 0px;
  right: 18px;
  height: 10px;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  #arrows .left, #arrows .right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 40px;
    height: 60px;
    transform: translate(0px, -50%);
    font-size: 6em; }
    #arrows .left:hover, #arrows .right:hover {
      cursor: pointer; }
  #arrows .left::before {
    content: '<'; }
  #arrows .right::before {
    content: '>'; }
  #arrows .left::before, #arrows .right:before {
    line-height: 0px; }

.articleWrapper {
  background: white; }
  .articleWrapper:not(.hidden) {
    display: flex;
    flex-flow: column nowrap; }
  .articleWrapper nav {
    text-align: center;
    height: 100%; }
    .articleWrapper nav ul {
      height: 100%; }
      .articleWrapper nav ul li {
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto; }
    .articleWrapper nav#startNavigation {
      padding: 10px; }
      .articleWrapper nav#startNavigation li {
        height: 33%;
        font-size: 1.5em; }
        .articleWrapper nav#startNavigation li {
          background-origin: content-box;
          background-repeat: no-repeat; }
        .articleWrapper nav#startNavigation li.about {
          background-image: repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px), url("../assets/about.gif");
          background-size: auto, auto 80%;
          background-position: 54% 50%; }
        .articleWrapper nav#startNavigation li.projects {
          background-image: repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px), url("../assets/laptopAndCoffee.gif");
          background-size: auto, auto 80%;
          background-position: 58% 55%; }
        .articleWrapper nav#startNavigation li.contact {
          background-image: repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px), url("../assets/contact2.gif");
          background-size: auto, auto 80%;
          background-position: 50% 55%; }
    .articleWrapper nav#projectsNavigation li {
      height: 25%;
      font-size: 1.5em; }

.articleWrapper header {
  padding: 15px 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .articleWrapper header .tableOfContents li {
    display: inline; }
    .articleWrapper header .tableOfContents li:not(:first-of-type) {
      padding-left: 15px; }
    .articleWrapper header .tableOfContents li::before {
      content: '#';
      padding-right: 5px;
      font-size: 2em;
      font-weight: bold;
      line-height: 0px;
      vertical-align: middle; }
    .articleWrapper header .tableOfContents li:nth-of-type(1)::before {
      color: blue; }
    .articleWrapper header .tableOfContents li:nth-of-type(2)::before {
      color: green; }
    .articleWrapper header .tableOfContents li:nth-of-type(3)::before {
      color: red; }
.articleWrapper article {
  padding: 0px 10%;
  overflow-y: scroll;
  height: 100%; }
  .articleWrapper article p {
    margin: 0px; }
    .articleWrapper article p:not(:first-of-type) {
      margin-top: 0.5em; }
  .articleWrapper article p {
    margin-top: 0px; }
  .articleWrapper article section {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .articleWrapper article section .content {
      font-size: 1.15em; }
      .articleWrapper article section .content ul {
        padding-left: 20px; }
      .articleWrapper article section .content li {
        list-style: disc; }
  .articleWrapper article.projects section::before {
    content: '#';
    font-weight: bold;
    font-size: 3em;
    padding-right: 15px; }
  .articleWrapper article.projects section:nth-of-type(1)::before {
    color: blue; }
  .articleWrapper article.projects section:nth-of-type(2)::before {
    color: green; }
  .articleWrapper article.projects section:nth-of-type(3)::before {
    color: red; }
  .articleWrapper article.contact {
    overflow: hidden; }
    .articleWrapper article.contact section {
      font-size: 2.5em;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around; }
      .articleWrapper article.contact section .email a {
        user-select: initial; }

#sidebar {
  overflow: hidden;
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, grey 2px);
  box-sizing: border-box;
  width: 15%;
  padding-left: 20px;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  order: 0; }
  #sidebar > * {
    width: 100%;
    flex: 0 1 auto;
    margin: 10px 0px; }

#languageList {
  height: 5%;
  order: 1;
  font-size: 1.35em;
  font-weight: bold; }
  #languageList li {
    display: inline; }
    #languageList li p:hover {
      cursor: pointer; }
    #languageList li:nth-of-type(even)::before {
      content: '/ ';
      display: inline; }

#sidebarNavigation {
  order: 2;
  height: 80%; }
  #sidebarNavigation ul {
    padding: 0px; }
    #sidebarNavigation ul li {
      margin: 10px 0px;
      display: block;
      list-style: none; }

#sidebarLinks {
  order: 3;
  height: 15%;
  text-align: center; }
  #sidebarLinks a {
    display: block;
    width: 30px;
    font-size: 1.35em;
    line-height: 0px;
    padding: 15px 0px;
    margin-bottom: 15px; }
    #sidebarLinks a:hover {
      color: blue; }
  #sidebarLinks .cv {
    font-weight: bold; }
  #sidebarLinks .facebook {
    font-weight: bold;
    background: black;
    color: white; }
  #sidebarLinks .github {
    font-weight: bold; }

@media (max-width: 56.25em) {
  body #header, body #main, body #sidebar {
    width: 100%; }
  body #header {
    min-height: unset;
    height: 60px; }
    body #header header {
      height: 100%;
      justify-content: left;
      flex-flow: row nowrap;
      align-items: center; }
  body #sidebar {
    font-size: 0.9em;
    order: 2;
    padding: 0px;
    display: block;
    width: 100%;
    height: 40px; }
    body #sidebar > * {
      width: auto;
      height: auto;
      margin: 15px; }
    body #sidebar ul {
      display: inline-flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 100%; }
    body #sidebar #sidebarNavigation {
      height: 100%;
      float: left;
      margin: 0px;
      padding-left: 20px;
      padding-right: 35px;
      width: 100%; }
      body #sidebar #sidebarNavigation li {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin: 0px; }
        body #sidebar #sidebarNavigation li p {
          line-height: 0px;
          height: 0px;
          padding: 20px 0px;
          vertical-align: baseline;
          white-space: nowrap; }
    body #sidebar #languageList {
      position: fixed;
      top: 0px;
      right: 15px; }
      body #sidebar #languageList p {
        height: 0px;
        vertical-align: middle;
        line-height: 0px;
        padding: 15px 0px; }
    body #sidebar #sidebarLinks {
      position: absolute;
      top: 0px;
      right: 120px; }
      body #sidebar #sidebarLinks > * {
        margin-right: 15px;
        display: inline-block; } }
@media (max-width: 50em) {
  #header h1 span {
    display: none; } }
@media (min-width: 43.76em) and (max-width: 56.25em) {
  #sidebar ul li:not(:first-of-type)::before {
    content: '/';
    display: inline;
    vertical-align: top; } }
@media (max-width: 43.75em) {
  #sidebar > #sidebarNavigation > ul > li:not(:first-of-type)::before {
    content: '/ ';
    display: inline;
    vertical-align: top; }
  #sidebar > #sidebarNavigation > ul > li:last-of-type {
    width: 100%;
    justify-content: flex-end; }
  #sidebar > #sidebarNavigation > ul > li > ul > li {
    padding-left: 0px; }
    #sidebar > #sidebarNavigation > ul > li > ul > li p {
      padding-left: 15px;
      padding-right: 5px; }
    #sidebar > #sidebarNavigation > ul > li > ul > li p::before, #sidebar > #sidebarNavigation > ul > li > ul > li p::after {
      content: '..';
      letter-spacing: 0.1em; }
  #sidebar li ul p {
    display: none; }

  .articleWrapper article.contact section {
    font-size: 2em; } }
@media (max-width: 37.5em) {
  body #header {
    font-size: 0.7em;
    height: 45px; }

  body #sidebar > #sidebarLinks, body #sidebar > #languageList {
    margin-top: 10px; }

  .articleWrapper article.contact section {
    font-size: 1.5em; }

  #arrows .left, #arrows .right {
    width: 30px;
    height: 40px;
    font-size: 4em; }

  .articleWrapper header {
    padding: 10px 10%; } }
@media (max-width: 32.5em) {
  body > #sidebar {
    font-size: 0.8em;
    height: 30px; }
    body > #sidebar #sidebarNavigation {
      height: 30px; }
    body > #sidebar #sidebarLinks {
      right: 100px; }
  body > #header {
    font-size: 0.6em; }
  body .articleWrapper {
    font-size: 0.9em; } }
@media (max-width: 28.125em) {
  body > #sidebar {
    font-size: 0.7em;
    height: 26px; }
    body > #sidebar #sidebarNavigation {
      height: 25px;
      padding-left: 0px;
      padding-right: 10px; }
    body > #sidebar #sidebarLinks {
      right: 70px;
      margin-top: 5px; }
      body > #sidebar #sidebarLinks .cv, body > #sidebar #sidebarLinks .github {
        margin-right: 5px; }
    body > #sidebar #languageList {
      margin-top: 5px;
      margin-right: 10px;
      right: 0px; }
  body > #header {
    padding: 0px 10px;
    font-size: 0.5em;
    height: 35px; }
  body .articleWrapper {
    font-size: 0.7em; }
    body .articleWrapper article.contact section {
      font-size: 1.4em; }
    body .articleWrapper header {
      padding: 5px 10%; }
    body .articleWrapper article.projects section::before {
      padding-right: 10px; }
  body #arrows .left, body #arrows .right {
    width: 20px;
    height: 30px;
    font-size: 3em; } }
@media (max-width: 23.4375em) {
  body > #sidebar {
    font-size: 0.6em;
    height: 20px; }
    body > #sidebar #sidebarNavigation {
      height: 20px;
      padding-left: 0px;
      padding-right: 10px; }
    body > #sidebar #sidebarLinks {
      right: 55px;
      margin-top: 0px; }
      body > #sidebar #sidebarLinks .cv, body > #sidebar #sidebarLinks .github {
        margin-right: 0px; }
    body > #sidebar #languageList {
      margin-top: 0px;
      margin-right: 5px;
      right: 0px; }
  body > #header {
    padding: 0px 10px;
    font-size: 0.4em;
    height: 25px; }
  body .articleWrapper > header {
    padding-left: 5%;
    padding-right: 5%; }
  body .articleWrapper .tableOfContents li {
    display: inline; }
    body .articleWrapper .tableOfContents li:not(:first-of-type) {
      padding-left: 5px; }

  .articleWrapper article.contact section {
    font-size: 1.0em; }

  body #sidebar #sidebarNavigation li {
    padding-left: 5px; }

  #arrows .left, #arrows .right {
    width: 30px;
    height: 40px;
    font-size: 4em; }

  #sidebar > #sidebarNavigation > ul > li > ul > li p::before, #sidebar > #sidebarNavigation > ul > li > ul > li p::after {
    content: ''; } }
@media (min-width: 56.25em) and (max-height: 34.375em) {
  #sidebarNavigation ul li {
    margin: 0; }

  #sidebarLinks a {
    margin-bottom: 5px; } }

/*# sourceMappingURL=master.css.map */
