@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
.hidden {
  display: none; }

* {
  box-sizing: border-box;
  font-family: 'Architects Daughter', cursive; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

a {
  text-decoration: none; }
  a:visited {
    color: inherit; }
  a:link {
    color: inherit; }

ul {
  padding: 0px;
  margin: 0px; }
  ul li {
    list-style: none; }

nav {
  font-size: 1.35em; }
  nav li {
    height: auto; }
  nav li:hover {
    cursor: pointer; }
  nav li li {
    padding-left: 10px;
    font-size: 0.9em; }

li > p {
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  height: 38px;
  transition: font-size 0.2s; }
  li > p:hover {
    font-size: 1.25em; }

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden; }
  body > * {
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 100%; }

#header {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, grey 2px);
  padding: 0px 30px;
  width: 85%;
  min-height: 55px;
  height: 10%;
  order: 1; }
  #header header {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; }
    #header header h1 {
      font-size: 2em;
      margin: 0px; }
      #header header h1 span {
        font-size: 0.6em; }

#headerNavigation {
  display: inline-block;
  margin-left: 10px; }
  #headerNavigation ul li {
    margin: 10px 5px;
    display: inline-block; }
    #headerNavigation ul li:not(:first-of-type)::before {
      content: '/';
      margin-right: 10px; }

#main {
  position: relative;
  width: 85%;
  height: auto;
  flex: 1 1 auto;
  order: 3;
  overflow: hidden; }
  #main main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap; }
    #main main > .articleWrapper {
      overflow-y: scroll;
      flex: 0 0 auto;
      height: 100%;
      width: 100%;
      transform: translate(0px, 0px); }

#arrows {
  z-index: 2;
  width: 100%;
  top: 50%;
  height: 0px;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  #arrows .left, #arrows .right {
    flex: 0 0 auto;
    display: block;
    width: 15px;
    height: 80px;
    border: 1px solid;
    transform: translate(0px, -50%); }
    #arrows .left:hover, #arrows .right:hover {
      cursor: pointer; }

.articleWrapper {
  padding: 40px;
  padding-top: 15px; }
  .articleWrapper nav {
    text-align: center;
    height: 100%; }
    .articleWrapper nav ul {
      height: 100%; }
      .articleWrapper nav ul li {
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto; }
    .articleWrapper nav#startNavigation li {
      height: 33%;
      font-size: 1.5em; }
    .articleWrapper nav#projectsNavigation li {
      height: 25%;
      font-size: 1.5em; }

.articleWrapper .tableOfContents li {
  display: inline; }
  .articleWrapper .tableOfContents li:not(:first-of-type) {
    padding-left: 15px; }
  .articleWrapper .tableOfContents li::before {
    content: '#'; }
.articleWrapper article .content {
  font-size: 1.15em; }

#sidebar {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, grey 2px);
  box-sizing: border-box;
  width: 15%;
  padding-left: 30px;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  order: 0; }
  #sidebar > * {
    width: 100%;
    flex: 0 1 auto;
    margin: 10px 0px; }

body.noSidebar #header, body.noSidebar #main, body.noSidebar #sidebar {
  width: 100%; }
body.noSidebar #header {
  height: 60px; }
  body.noSidebar #header header {
    height: 100%;
    justify-content: left;
    flex-flow: row nowrap;
    align-items: center; }
body.noSidebar #sidebar {
  order: 2;
  padding: 0px;
  display: block;
  width: 100%;
  height: 40px; }
  body.noSidebar #sidebar > * {
    width: auto;
    height: auto;
    margin: 15px; }
  body.noSidebar #sidebar ul {
    display: inline-flex;
    flex-flow: row nowrap; }
  body.noSidebar #sidebar #sidebarNavigation {
    height: 40px;
    float: left;
    margin: 0px;
    margin-left: 20px; }
    body.noSidebar #sidebar #sidebarNavigation li {
      height: 100%;
      display: inline;
      padding-left: 10px;
      margin: 0px; }
      body.noSidebar #sidebar #sidebarNavigation li:nth-of-type(3) p {
        vertical-align: super; }
      body.noSidebar #sidebar #sidebarNavigation li p {
        line-height: 0px;
        height: 0px;
        padding: 0.5em 0px;
        vertical-align: baseline; }
      body.noSidebar #sidebar #sidebarNavigation li li {
        padding-top: 10px; }
      body.noSidebar #sidebar #sidebarNavigation li:not(:first-of-type)::before {
        content: '/ ';
        display: inline;
        vertical-align: top; }
  body.noSidebar #sidebar #languageList {
    position: fixed;
    top: 0px;
    right: 15px; }
  body.noSidebar #sidebar #sidebarLinks {
    position: absolute;
    top: 0px;
    right: 145px; }
    body.noSidebar #sidebar #sidebarLinks > * {
      display: inline-block; }

#languageList {
  height: 5%;
  order: 1;
  font-size: 1.35em; }
  #languageList li {
    display: inline; }
    #languageList li p:hover {
      cursor: pointer; }
    #languageList li:nth-of-type(even)::before {
      content: '/ ';
      display: inline; }

#sidebarNavigation {
  order: 2;
  height: 80%; }
  #sidebarNavigation ul {
    padding: 0px; }
    #sidebarNavigation ul li {
      margin: 10px 0px;
      display: block;
      list-style: none; }

#sidebarLinks {
  order: 3;
  height: 15%;
  text-align: center; }
  #sidebarLinks a {
    display: block;
    width: 30px;
    font-size: 1.35em;
    line-height: 0px;
    padding: 15px 0px;
    margin-bottom: 15px; }
  #sidebarLinks .facebook {
    font-weight: bold;
    background: black;
    color: white; }
  #sidebarLinks .github {
    font-weight: bold; }

/*# sourceMappingURL=master.css.map */
