@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
.hidden {
  display: none; }

* {
  box-sizing: border-box;
  font-family: 'Architects Daughter', cursive; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

a {
  text-decoration: none; }
  a:visited, a:link {
    color: inherit; }

article a:link, article a:visited, .articleWrapper .link a:link, .articleWrapper .link a:visited {
  color: blue; }

ul {
  padding: 0px;
  margin: 0px; }
  ul li {
    list-style: none; }

nav {
  font-size: 1.35em; }
  nav li {
    height: auto; }
    nav li p {
      cursor: pointer; }
  nav li li {
    padding-left: 10px;
    font-size: 0.9em; }

#sidebar li > p, #startNavigation li > p {
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  height: 38px;
  transition: font-size 0.2s; }
  #sidebar li > p:hover, #startNavigation li > p:hover {
    font-size: 1.25em; }

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden; }
  body > * {
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 100%; }

#header {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, grey 2px);
  padding: 0px 30px;
  width: 85%;
  min-height: 55px;
  height: 10%;
  order: 1; }
  #header header {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; }
    #header header h1 {
      font-size: 2em;
      margin: 0px; }
      #header header h1 span {
        font-size: 0.6em; }

#headerNavigation {
  display: inline-block;
  margin-left: 10px; }
  #headerNavigation ul li {
    margin: 10px 5px;
    display: inline-block; }
    #headerNavigation ul li:not(:first-of-type)::before {
      content: '/';
      margin-right: 10px; }

#main {
  position: relative;
  width: 85%;
  height: auto;
  flex: 1 1 auto;
  order: 3;
  overflow: hidden; }
  #main main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start; }
    #main main > .articleWrapper {
      overflow: hidden;
      flex: 0 0 auto;
      height: 95%;
      width: 100%;
      transform: translate(0px, 0px); }

#arrows {
  z-index: 2;
  top: 50%;
  left: 0px;
  right: 15px;
  height: 10px;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  #arrows .left, #arrows .right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 40px;
    height: 0px;
    transform: translate(0px, -50%);
    font-size: 6em; }
    #arrows .left:hover, #arrows .right:hover {
      cursor: pointer; }
  #arrows .left::before {
    content: '<'; }
  #arrows .right::before {
    content: '>'; }
  #arrows .left::before, #arrows .right:before {
    line-height: 0px; }

.articleWrapper {
  background: white; }
  .articleWrapper:not(.hidden) {
    display: flex;
    flex-flow: column nowrap; }
  .articleWrapper nav {
    text-align: center;
    height: 100%; }
    .articleWrapper nav ul {
      height: 100%; }
      .articleWrapper nav ul li {
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto; }
    .articleWrapper nav#startNavigation {
      padding: 10px; }
      .articleWrapper nav#startNavigation li {
        height: 33%;
        font-size: 1.5em; }
        .articleWrapper nav#startNavigation li {
          background-origin: content-box;
          background-repeat: no-repeat; }
        .articleWrapper nav#startNavigation li.about {
          background-image: repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px), url("../assets/about.gif");
          background-size: auto, 140px;
          background-position: 54% 0%; }
        .articleWrapper nav#startNavigation li.projects {
          background-image: repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px), url("../assets/laptopAndCoffee.gif");
          background-position: 58% 55%;
          background-size: auto, 300px; }
        .articleWrapper nav#startNavigation li.contact {
          background-image: repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px), url("../assets/contact2.gif");
          background-position: 50% 55%;
          background-size: auto, 160px; }
    .articleWrapper nav#projectsNavigation li {
      height: 25%;
      font-size: 1.5em; }

.articleWrapper header {
  padding: 15px 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .articleWrapper header .tableOfContents li {
    display: inline; }
    .articleWrapper header .tableOfContents li:not(:first-of-type) {
      padding-left: 15px; }
    .articleWrapper header .tableOfContents li::before {
      content: '#';
      padding-right: 5px;
      font-size: 2em;
      font-weight: bold;
      line-height: 0px;
      vertical-align: middle; }
    .articleWrapper header .tableOfContents li:nth-of-type(1)::before {
      color: blue; }
    .articleWrapper header .tableOfContents li:nth-of-type(2)::before {
      color: green; }
    .articleWrapper header .tableOfContents li:nth-of-type(3)::before {
      color: red; }
.articleWrapper article {
  padding: 0px 10%;
  overflow-y: scroll;
  height: 100%; }
  .articleWrapper article p {
    margin: 0px; }
    .articleWrapper article p:not(:first-of-type) {
      margin-top: 0.5em; }
  .articleWrapper article p {
    margin-top: 0px; }
  .articleWrapper article section {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .articleWrapper article section .content {
      font-size: 1.15em; }
      .articleWrapper article section .content li {
        list-style: disc inside; }
  .articleWrapper article.projects section::before {
    content: '#';
    font-weight: bold;
    font-size: 3em;
    padding-right: 15px; }
  .articleWrapper article.projects section:nth-of-type(1)::before {
    color: blue; }
  .articleWrapper article.projects section:nth-of-type(2)::before {
    color: green; }
  .articleWrapper article.projects section:nth-of-type(3)::before {
    color: red; }

#sidebar {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, grey 2px);
  box-sizing: border-box;
  width: 15%;
  padding-left: 30px;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  order: 0; }
  #sidebar > * {
    width: 100%;
    flex: 0 1 auto;
    margin: 10px 0px; }

body.noSidebar #header, body.noSidebar #main, body.noSidebar #sidebar {
  width: 100%; }
body.noSidebar #header {
  height: 60px; }
  body.noSidebar #header header {
    height: 100%;
    justify-content: left;
    flex-flow: row nowrap;
    align-items: center; }
body.noSidebar #sidebar {
  order: 2;
  padding: 0px;
  display: block;
  width: 100%;
  height: 40px; }
  body.noSidebar #sidebar > * {
    width: auto;
    height: auto;
    margin: 15px; }
  body.noSidebar #sidebar ul {
    display: inline-flex;
    flex-flow: row nowrap; }
  body.noSidebar #sidebar #sidebarNavigation {
    height: 40px;
    float: left;
    margin: 0px;
    margin-left: 20px; }
    body.noSidebar #sidebar #sidebarNavigation li {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 10px;
      margin: 0px; }
      body.noSidebar #sidebar #sidebarNavigation li p {
        line-height: 0px;
        height: 0px;
        padding: 20px 0px;
        vertical-align: baseline;
        white-space: nowrap; }
      body.noSidebar #sidebar #sidebarNavigation li:not(:first-of-type)::before {
        content: '/ ';
        display: inline;
        vertical-align: top; }
  body.noSidebar #sidebar #languageList {
    position: fixed;
    top: 0px;
    right: 15px; }
  body.noSidebar #sidebar #sidebarLinks {
    position: absolute;
    top: 0px;
    right: 145px; }
    body.noSidebar #sidebar #sidebarLinks > * {
      display: inline-block; }

#languageList {
  height: 5%;
  order: 1;
  font-size: 1.35em; }
  #languageList li {
    display: inline; }
    #languageList li p:hover {
      cursor: pointer; }
    #languageList li:nth-of-type(even)::before {
      content: '/ ';
      display: inline; }

#sidebarNavigation {
  order: 2;
  height: 80%; }
  #sidebarNavigation ul {
    padding: 0px; }
    #sidebarNavigation ul li {
      margin: 10px 0px;
      display: block;
      list-style: none; }

#sidebarLinks {
  order: 3;
  height: 15%;
  text-align: center; }
  #sidebarLinks a {
    display: block;
    width: 30px;
    font-size: 1.35em;
    line-height: 0px;
    padding: 15px 0px;
    margin-bottom: 15px; }
  #sidebarLinks .facebook {
    font-weight: bold;
    background: black;
    color: white; }
  #sidebarLinks .github {
    font-weight: bold; }

/*# sourceMappingURL=master.css.map */
