// ===== VARIABLES =====


// ===== GENERAL =====
.hidden {
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

* {
  box-sizing: border-box;
  font-family: 'Architects Daughter', cursive;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

* {
  user-select: none;
}

a {
  text-decoration: none;
  &:visited, &:link {
    color: inherit;
  }
}

.en, .pl {
  display: none;
}

article a, .articleWrapper .link a {
  &:link, &:visited {
    color:blue;
  }
}

ul {
  padding: 0px;
  margin: 0px;
  & li {
    list-style: none;
  }
}

nav {
  font-size: 1.35em;
  & li {
    height: auto;
    & p {
      cursor: pointer;
      white-space: nowrap;
    }
  }
  & li li {
    padding-left: 10px;
    font-size: 0.9em;
  }
}

#sidebar, #startNavigation {
  & li>p {
    display: inline-block;
    margin: 0px;
    vertical-align: top;
    height: 38px;
    transition: font-size 0.2s;
    &:hover {
      font-size: 1.2em;
    }
  }
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
  &>*{
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 100%;
  }
}

// ===== HEADER =====
#header {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, grey 2px);
  padding: 0px 30px;
  width: 85%;
  min-height: 55px;
  height: 10%;
  order: 1;
  & header {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    & h1 {
      font-size: 2em;
      margin: 0px;
      & span {
        font-size: 0.6em;
      }
    }
  }
}

// ===== MAIN =====
#main {
  position: relative;
  width: 85%;
  height: auto;
  flex: 1 1 auto;
  order: 3;
  overflow: hidden;
  & main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    &>.articleWrapper{
      overflow: hidden;
      flex: 0 0 auto;
      height: 95%;
      width: 100%;
      transform: translate(0px,0px);
    }
  }
}

// ----- Arrows -----
#arrows {
  z-index: 2;
  top: 50%;
  left: 0px;
  right: 18px;
  height: 10px;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  & .left, & .right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 40px;
    height: 60px;
    transform: translate(0px,-50%);
    font-size: 6em;
    &:hover {
      cursor: pointer;
    }
  }
  & .left::before {
    content: '<';
  }
  & .right::before {
    content: '>';
  }
  & .left::before, .right:before {
    line-height: 0px;
  }
}

// ===== Articles Navigation =====
.articleWrapper {
  &:not(.hidden) {
    display: flex;
    flex-flow: column nowrap;
  }
  background: white;
  nav {
    text-align: center;
    height: 100%;
    & ul {
      height: 100%;
      & li {
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
      }
    }
    &#startNavigation {
      padding: 10px;
      & li {
        height: 33%;
        font-size: 1.5em;
        // ----- Background -----
        & {
          background-origin: content-box;
          background-repeat: no-repeat;
        }
        &.about {
          background-image:
          repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px),
          url('../assets/about.gif');
          background-size: auto, auto 80%;
          background-position: 54% 50%;
        }
        &.projects {
          background-image:
          repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px),
          url('../assets/laptopAndCoffee.gif');
          background-size: auto, auto 80%;
          background-position: 58% 55%;
        }
        &.contact {
          background-image:
          repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px),
          url('../assets/contact2.gif');
          background-size: auto, auto 80%;
          background-position: 50% 55%;
        }
      }
    }
    &#projectsNavigation li{
      height: 25%;
      font-size: 1.5em;
    }
  }
}

// ===== ARTICLE =====
// ----- Header -----

// ----- Article -----
.articleWrapper {
  header {
    padding: 15px 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    & .tableOfContents {
      & li {
        display: inline;
        &:not(:first-of-type) {
          padding-left: 15px;
        }
        &::before {
          content: '#';
          padding-right: 5px;
          font-size: 2em;
          font-weight: bold;
          line-height: 0px;
          vertical-align: middle;
        }
        &:nth-of-type(1)::before{
          color: blue;
        }
        &:nth-of-type(2)::before{
          color: green;
        }
        &:nth-of-type(3)::before{
          color: red;
        }
      }
    }
  }
  & article {
    padding: 0px 10%;
    overflow-y: scroll;
    height: 100%;
    & p {
      margin: 0px;
      &:not(:first-of-type) {
        margin-top: 0.5em;
      }
    }
    & p {
      margin-top: 0px;
    }
    & section {
      margin-bottom: 20px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      & .content {
        font-size: 1.15em;
        & ul {
          padding-left: 20px;
        }
        & li {
          list-style: disc;
        }
      }
    }
    &.projects section {
      &::before {
        content: '#';
        font-weight: bold;
        font-size: 3em;
        padding-right: 15px;
      }
      &:nth-of-type(1)::before{
        color: blue;
      }
      &:nth-of-type(2)::before{
        color: green;
      }
      &:nth-of-type(3)::before{
        color: red;
      }
    }
    &.contact {
      overflow: hidden;
      & section {
        font-size: 2.5em;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        & .email a {
          user-select: initial;
        }
      }
    }
  }
}

// ===== SIDEBAR =====
#sidebar {
  overflow: hidden;
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, grey 2px);
  box-sizing: border-box;
  width: 15%;
  min-width: 140px;
  padding-left: 20px;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  order: 0;
  &>* {
    width: 100%;
    flex: 0 1 auto;
    margin: 10px 0px;
  }
}

#languageList {
  height: 5%;
  order: 1;
  font-size: 1.35em;
  font-weight: bold;
  & li {
    display: inline;
    & p:hover {
      cursor: pointer;
    }
    &:nth-of-type(even)::before{
      content: '/ ';
      display: inline;
    }
  }
}

#sidebarNavigation {
  order: 2;
  height: 80%;
  & ul {
    padding: 0px;
    & li {
      margin: 10px 0px;
      display: block;
      list-style: none;
    }
  }
}

#sidebarLinks {
  order: 3;
  height: 15%;
  text-align: center;
  & a {
    display: block;
    width: 30px;
    font-size: 1.35em;
    line-height: 0px;
    padding: 15px 0px;
    margin-bottom: 15px;
    &:hover {
      color: blue;
    }
  }
  & .cv {
    font-weight: bold;
  }
  & .facebook {
    font-weight: bold;
    background: black;
    color: white;
  }
  & .github {
    font-weight: bold;
  }
}

//========MEDIA QUERIES===========
@media (max-width: 56.25em) {
  body {
    & #header, #main, #sidebar {
      width: 100%;
    }
    & #header {
      min-height: unset;
      height: 60px;
      & header {
        height: 100%;
        justify-content: left;
      }
    }
    & #sidebar {
      font-size: 0.9em;
      order: 2;
      padding: 0px;
      display: block;
      width: 100%;
      height: 40px;
      &>*{
        width: auto;
        height: auto;
        margin: 15px;
      }
      & ul {
        display: inline-flex;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%;
      }
      & #sidebarNavigation {
        height: 100%;
        float: left;
        margin: 0px;
        padding-left: 20px;
        padding-right: 35px;
        width: 100%;
        & li {
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 10px;
          margin: 0px;
          & p {
            line-height: 0px;
            height: 0px;
            padding: 20px 0px;
            vertical-align: baseline;
            white-space: nowrap;
          }
        }
      }
      & #languageList {
        position: fixed;
        top: 0px;
        right: 15px;
        & p {
          height: 0px;
          vertical-align: middle;
          line-height: 0px;
          padding: 15px 0px;
        }
      }
      & #sidebarLinks {
        position: absolute;
        top: 0px;
        right: 120px;
        & a {
          margin-right: 15px;
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width:50em) {
  #header {
    & h1 span {
      display: none;
    }
  }


}

@media (min-width: 43.76em) and (max-width: 56.25em) {
  #sidebar ul li {
    &:not(:first-of-type)::before {
      content: '/';
      display: inline;
      vertical-align: top;
    }
  }
}

@media (max-width:43.75em) {
  #sidebar {
    &>#sidebarNavigation>ul>li {
      &:not(:first-of-type)::before {
        content: '/ ';
        display: inline;
        vertical-align: top;
      }
      &:last-of-type {
        width: 100%;
        justify-content: flex-end;
      }
      &>ul>li {
        padding-left: 0px;
        & p {
          padding-left: 15px;
          padding-right: 5px;
        }
        & p::before, & p::after {
          content: '..';
          letter-spacing: 0.1em;
        }
      }
    }
    & li ul p {
      display: none;
    }
  }
  .articleWrapper article.contact section {
    font-size: 2em;
  }
}

@media (max-width:37.5em) { // <600px
  body #header {
    font-size: 0.7em;
    height: 45px;
  }
  body #sidebar {
    &>#sidebarLinks, &>#languageList {
      margin-top: 10px;
    }
  }
  .articleWrapper article.contact section {
    font-size: 1.5em;
  }
  #arrows {
    & .left, & .right {
      width: 30px;
      height: 40px;
      font-size: 4em;
    }
  }
  .articleWrapper header {
    padding: 10px 10%;
  }
}

@media (max-width:32.5em) { // <520px
  body {
    &>#sidebar {
      font-size: 0.8em;
      height: 30px;
      & #sidebarNavigation {
        height: 30px;
      }
      & #sidebarLinks {
        right: 100px;
      }
    }
    &>#header {
      font-size: 0.6em;
    }
    & .articleWrapper {
      font-size: 0.9em;
    }
  }
}

@media (max-width:28.125em) { // <450px
  body {
    &>#sidebar {
      font-size: 0.7em;
      height: 26px;
      & #sidebarNavigation {
        height: 25px;
        padding-left: 0px;
        padding-right: 10px;
      }
      & #sidebarLinks {
        right: 70px;
        margin-top: 5px;
        & .cv, & .github {
          margin-right: 5px;
        }
      }
      & #languageList {
        margin-top: 5px;
        margin-right: 10px;
        right: 0px;
      }
    }
    &>#header {
      padding: 0px 10px;
      font-size: 0.5em;
      height: 35px;
    }
    & .articleWrapper {
      font-size: 0.7em;
      & article.contact section {
        font-size: 1.4em;
      }
      & header {
        padding: 5px 10%;
      }
      article.projects section::before {
        padding-right: 10px;
      }
    }
    & #arrows {
      & .left, & .right {
        width: 20px;
        height: 30px;
        font-size: 3em;
      }
    }
  }
}

@media (max-width:23.4375em) { //<375px
  body {
    &>#sidebar {
      font-size: 0.6em;
      height: 20px;
      & #sidebarNavigation {
        height: 20px;
        padding-left: 0px;
        padding-right: 10px;
      }
      & #sidebarLinks {
        right: 55px;
        margin-top: 0px;
        & .cv, & .github {
          margin-right: 0px;
        }
      }
      & #languageList {
        margin-top: 0px;
        margin-right: 5px;
        right: 0px;
      }
    }
    &>#header {
      padding: 0px 10px;
      font-size: 0.4em;
      height: 25px;
    }
    & .articleWrapper {
      &>header {
        padding-left: 5%;
        padding-right: 5%;
      }
      & .tableOfContents {
        & li {
          display: inline;
          &:not(:first-of-type) {
            padding-left: 5px;
          }
        }
      }
    }
  }
  .articleWrapper article.contact section {
    font-size: 1.0em;
  }
  body #sidebar #sidebarNavigation li {
    padding-left: 5px;
  }
  #arrows {
    & .left, & .right {
      width: 30px;
      height: 40px;
      font-size: 4em;
    }
  }
  #sidebar {
    &>#sidebarNavigation>ul>li>ul>li {
      & p::before, & p::after {
        content: '';
      }
    }
  }
}

@media (min-width:56.25em) and (max-height:34.375em) {
  #sidebarNavigation ul li {
    margin: 0;
  }
  #sidebarLinks a {
    margin-bottom: 5px;
  }
}
