// ===== VARIABLES =====


// ===== GENERAL =====
.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0px;
  margin: 0px;
  & li {
    list-style: none;
  }
}

.links {
  & a {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid;
  }
}

nav {
  font-size: 1.25em;
  & li:hover {
    cursor: pointer;
  }
  & li li {
    padding-left: 10px;
    font-size: 0.9em;
  }
}

li>p {
  display: inline-block;
  margin: 0px;
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: flex-start;
  &>*{
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 100%;
  }
}

// ===== HEADER =====
#header {
  border: 1px solid;
  width: 80%;
  min-height: 90px;
  height: 15%;
  order: 1;
  display: flex;
  align-items: center;
  & header {
    width: 100%;
    & .articleTitle {
      text-align: center;
      font-size: 1em;
      margin: 5px 10px;
    }
  }
}
#headerNavigation {
  display: inline-block;
  margin-left: 10px;
  & ul {
    & li {
      margin: 10px 5px;
      display: inline-block;
      &:not(:first-of-type)::before {
        content: '/';
        margin-right: 10px;
      }
    }
  }
}

// ===== MAIN =====
#main {
  position: relative;
  border: 1px solid;
  width: 80%;
  height: auto;
  flex: 1 1 auto;
  order: 2;
  overflow: hidden;
  & main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    &>.articleWrapper{
      overflow-y: scroll;
      flex: 0 0 auto;
      height: 100%;
      width: 100%;
      transform: translate(0px,0px);
      &:nth-of-type(odd) {
        background: rgb(130, 173, 218);
      }
      &:nth-of-type(even) {
        background: rgb(189, 205, 126);
      }
    }
  }
}

// ----- Arrows -----
#arrows {
  z-index: 2;
  width: 100%;
  top: 50%;
  height: 0px;
  border-top: 1px solid;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  & .left, & .right {
    flex: 0 0 auto;
    display: block;
    width: 15px;
    height: 80px;
    border: 1px solid;
    transform: translate(0px,-50%);
    &:hover {
      cursor: pointer;
    }
  }
}

// ===== Articles Navigation =====
.articleWrapper {
  nav {
    text-align: center;
    height: 100%;
    & ul {
      height: 100%;
      & li {
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
      }
    }
    &#startNavigation li{
      height: 33%;
    }
    &#projectsNavigation li{
      height: 25%;
    }
  }
}

// ----- Projects Navigation -----


// ===== ARTICLE =====
// ----- Header -----

// ----- Article -----


// ----- Footer -----


// ===== SIDEBAR =====
#sidebar {
  box-sizing: border-box;
  border: 1px solid;
  width: 20%;
  padding-left: 40px;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  &>* {
    width: 100%;
    flex: 0 1 auto;
    margin: 20px 0px;
  }
}

#languageList {
  height: 10%;
  & li {
    display: inline;
    &:nth-of-type(even)::before{
      content: '/ ';
      display: inline;
    }
  }
}

#sidebarNavigation {
  height: 70%;
  & ul {
    padding: 0px;
    & li {
      display: block;
      list-style: none;
    }
  }
}

#sidebarLinks {
  height: 15%;
  align-self: flex-end;
}
