// ===== VARIABLES =====


// ===== GENERAL =====
.hidden {
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

* {
  box-sizing: border-box;
  font-family: 'Architects Daughter', cursive;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:link {
    color: inherit;
  }
}

ul {
  padding: 0px;
  margin: 0px;
  & li {
    list-style: none;
  }
}

nav {
  font-size: 1.35em;
  & li {
    height: auto;
    & p {
      cursor: pointer;
    }
  }
  & li li {
    padding-left: 10px;
    font-size: 0.9em;
  }
}

li>p {
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  height: 38px;
  transition: font-size 0.2s;
  &:hover {
    font-size: 1.25em;
  }
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
  &>*{
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 100%;
  }
}

// ===== HEADER =====
#header {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, grey 2px);
  padding: 0px 30px;
  width: 85%;
  min-height: 55px;
  height: 10%;
  order: 1;
  & header {
    height: 100%;
    display: flex;
    // flex-flow: column nowrap;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    & h1 {
      font-size: 2em;
      margin: 0px;
      & span {
        font-size: 0.6em;
      }
    }
  }
}
#headerNavigation {
  display: inline-block;
  margin-left: 10px;
  & ul {
    & li {
      margin: 10px 5px;
      display: inline-block;
      &:not(:first-of-type)::before {
        content: '/';
        margin-right: 10px;
      }
    }
  }
}

// ===== MAIN =====
#main {
  position: relative;
  // border: 1px solid;
  width: 85%;
  height: auto;
  flex: 1 1 auto;
  order: 3;
  overflow: hidden;
  & main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    &>.articleWrapper{
      overflow-y: scroll;
      flex: 0 0 auto;
      height: 100%;
      width: 100%;
      transform: translate(0px,0px);
      &:nth-of-type(odd) {
        // background: rgb(130, 173, 218);
      }
      &:nth-of-type(even) {
        // background: rgb(189, 205, 126);
      }
    }
  }
}

// ----- Arrows -----
#arrows {
  z-index: 2;
  top: 50%;
  left: 0px;
  right: 15px;
  height: 10px;
  // border-top: 1px solid;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  & .left, & .right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 40px;
    height: 0px;
    transform: translate(0px,-50%);
    font-size: 6em;
    &:hover {
      cursor: pointer;
    }
  }
  & .left::before {
    content: '<';
  }
  & .right::before {
    content: '>';
  }
  & .left::before, .right:before {
    line-height: 0px;

  }
}

// ===== Articles Navigation =====
.articleWrapper {
  padding: 40px;
  padding-top: 15px;
  nav {
    text-align: center;
    height: 100%;
    & ul {
      height: 100%;
      & li {
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
      }
    }
    &#startNavigation li{
      height: 33%;
      font-size: 1.5em;
      // ----- Background -----
      & {
        background-origin: content-box;
        background-repeat: no-repeat;
      }
      &.about {
        background-image:
          repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px),
          url('../assets/about.gif');
          background-size: auto, 140px;
          background-position: 54% 0%;
      }
      &.projects {
        background-image:
        repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px),
        url('../assets/laptopAndCoffee.gif');
        background-position: 58% 55%;
        background-size: auto, 300px;
      }
      &.contact {
        background-image:
        repeating-linear-gradient(0deg, white 0px, white 1px, transparent 2px),
        url('../assets/contact2.gif');
        background-position: 50% 55%;
        background-size: auto, 160px;
      }
    }
    &#projectsNavigation li{
      height: 25%;
      font-size: 1.5em;
    }
  }
}

// ===== ARTICLE =====
// ----- Header -----

// ----- Article -----
.articleWrapper {
  & .tableOfContents li {
    display: inline;
    &:not(:first-of-type) {
      padding-left: 15px;
    }
    &::before {
      content: '#';
    }
  }
  & article {
    & .content {
      font-size: 1.15em;
    }
  }
}

// ----- Footer -----


// ===== SIDEBAR =====
#sidebar {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, grey 2px);
  box-sizing: border-box;
  width: 15%;
  padding-left: 30px;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  order: 0;
  &>* {
    width: 100%;
    flex: 0 1 auto;
    margin: 10px 0px;
  }
}

// ==== NO SIDEBAR MODE ====
body.noSidebar {
  & #header, #main, #sidebar {
    width: 100%;
  }
  & #header {
    height: 60px;
    & header {
      height: 100%;
      justify-content: left;
      flex-flow: row nowrap;
      align-items: center;
    }
  }
  & #main {

  }
  & #sidebar {
    order: 2;
    padding: 0px;
    display: block;
    width: 100%;
    height: 40px;
    &>*{
      width: auto;
      height: auto;
      margin: 15px;
    }
    & ul {
      display: inline-flex;
      flex-flow: row nowrap;
    }
    & #sidebarNavigation {
      height: 40px;
      float: left;
      margin: 0px;
      margin-left: 20px;
      & li {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin: 0px;
        & p {
          line-height: 0px;
          height: 0px;
          padding: 20px 0px;
          vertical-align: baseline;
          white-space: nowrap;
        }
        &:not(:first-of-type)::before {
          content: '/ ';
          display: inline;
          vertical-align: top;
        }
      }
    }
    & #languageList {
      position: fixed;
      top: 0px;
      right: 15px;
    }
    & #sidebarLinks {
      position: absolute;
      top: 0px;
      right: 145px;
      &>*{
        display: inline-block;
      }
    }
  }
}

#languageList {
  height: 5%;
  order: 1;
  font-size: 1.35em;
  & li {
    display: inline;
    & p:hover {
      cursor: pointer;
    }
    &:nth-of-type(even)::before{
      content: '/ ';
      display: inline;
    }
  }
}

#sidebarNavigation {
  order: 2;
  height: 80%;
  & ul {
    padding: 0px;
    & li {
      margin: 10px 0px;
      display: block;
      list-style: none;
    }
  }
}

#sidebarLinks {
  order: 3;
  height: 15%;
  text-align: center;
  & a {
    display: block;
    width: 30px;
    font-size: 1.35em;
    line-height: 0px;
    padding: 15px 0px;
    margin-bottom: 15px;
  }
  & .facebook {
    font-weight: bold;
    background: black;
    color: white;
  }
  & .github {
    font-weight: bold;
  }
}
